h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005AB6;
    font-size: 50px;
}
body{
    background-color: #005AB6;
}