.mallacurricular{
    display: flex;
}

.mallacurricular ul {
    margin-left: 10px;
    width: 180px;
    padding: 0px;
    list-style-type: none;
    border-radius: 5px; 
    border: 1px solid rgb(0, 0, 0); 
}

.mallacurricular li{
    height: 100px;
}

.titlesemester {
    background-color: rgb(182, 171, 171);
    border-bottom: 1px solid grey;
    height: auto;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
  
button {
    background-color: white;
    color: black;
    border: 0px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

button:hover {
    background-color: rgb(69, 146, 247);
    border: 0px;
    color: white; 
}

button:focus{
    background-color: rgb(69, 146, 247);
    border: 0px;
}

.prev{
    background-color: rgb(255, 198, 55);
}

.next{
    background-color: rgb(31, 186, 31);
}

h3{
    color: black;
}